SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_KEY="your-supabase-key"

NEXT_PUBLIC_SUPABASE_URL="https://jnungkkyfsthkbcwotxo.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_PSEHZwlUH82Bm9jtaDBqAw_kMY21p_m"
